body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(backround.jpg);
    background-size: cover;
}

.container {
    background-color: transparent;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 240px;
    text-align: center;

}

.logo a{
    color: rgba(0, 0, 0, 0.959);
    text-decoration: none;
    padding: 14px 15px;
    font-size: 20px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px  5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #a70f79;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 20px;
    font-size: 14px;
    color: red;
}
